/* General styles */
body {
    margin: 0;
    padding: 0;
    background-color: #4682B4;
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #FF0051;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: yellow;
}

